<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(주)형제철강레이저 {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  </head>
  <body>
      <header class="header">
        <div class="header-wrap">  
          <a class="logo">로고</a>
          <nav class="nav">
              <div>
                  <ul class="menu-list">
                      <li>회사소개</li>
                      <li>절곡</li>
                      <li>레이저</li>
                      <li>벤딩</li>
                      <li>오시는길</li>
                  </ul>
              </div>
          </nav>
        </div>
      </header>
    {% block content %}

    {% endblock %}

    <footer>
        푸터입니다.
    </footer>
  </body>
</html>