.header {
    background-color: rgba(0,0,0,0.4);
  }
  
  .header-wrap {
    width: 1200px;
    height: 70px;
    margin: auto;
  }
  
  .logo {
    display: inline-block;
    height: 100%;
  }
  
  .nav {
    float: right;
  }
  
  .menu-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  
  .menu-list > li {
    margin-right: 20px;
    font-size: 18px;
    height: 70px;
    line-height: 70px;
    list-style: none;
    text-align: center;
  }
  
  .menu-list > li:last-child {
    margin-right: 0;
  }
  
  .menu-list > li > a {
      text-decoration: none;
      color: #fff;
  }